WPF-Test24/ConsoleApplication1/Service References/MyService/upDateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="upDateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ISysUpDateService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16688/UpDateService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16688/UpDateService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16688/UpDateService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:16688/UpDateService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/GDJL.MTST.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISysUpDateService_CheckUpDate_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUpDate" />
  </wsdl:message>
  <wsdl:message name="ISysUpDateService_CheckUpDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUpDateResponse" />
  </wsdl:message>
  <wsdl:message name="ISysUpDateService_GetLatestFileNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestFileNames" />
  </wsdl:message>
  <wsdl:message name="ISysUpDateService_GetLatestFileNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestFileNamesResponse" />
  </wsdl:message>
  <wsdl:message name="ISysUpDateService_GetLastestFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastestFile" />
  </wsdl:message>
  <wsdl:message name="ISysUpDateService_GetLastestFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastestFileResponse" />
  </wsdl:message>
  <wsdl:portType name="ISysUpDateService">
    <wsdl:operation name="CheckUpDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISysUpDateService/CheckUpDate" message="tns:ISysUpDateService_CheckUpDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISysUpDateService/CheckUpDateResponse" message="tns:ISysUpDateService_CheckUpDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestFileNames">
      <wsdl:input wsaw:Action="http://tempuri.org/ISysUpDateService/GetLatestFileNames" message="tns:ISysUpDateService_GetLatestFileNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISysUpDateService/GetLatestFileNamesResponse" message="tns:ISysUpDateService_GetLatestFileNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastestFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ISysUpDateService/GetLastestFile" message="tns:ISysUpDateService_GetLastestFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISysUpDateService/GetLastestFileResponse" message="tns:ISysUpDateService_GetLastestFile_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ISysUpDateService" type="tns:ISysUpDateService">
    <wsp:PolicyReference URI="#WSHttpBinding_ISysUpDateService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUpDate">
      <soap12:operation soapAction="http://tempuri.org/ISysUpDateService/CheckUpDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestFileNames">
      <soap12:operation soapAction="http://tempuri.org/ISysUpDateService/GetLatestFileNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastestFile">
      <soap12:operation soapAction="http://tempuri.org/ISysUpDateService/GetLastestFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="upDateService">
    <wsdl:port name="WSHttpBinding_ISysUpDateService" binding="tns:WSHttpBinding_ISysUpDateService">
      <soap12:address location="http://localhost:16688/UpDateService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:16688/UpDateService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>